.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 400px;
    height: auto;
}

.link-bank {
    color: white;
    border: none;
    padding: 8px 24px;
    background-color: var(--accent);
}

.link-bank a {
    color: white;
    font-weight: 700;
}

.link-bank:hover {
    background-color: #31b8bd;
    cursor: pointer;
}

table {
    width: 240px;
}